## Dataframe is most commonly used object in pandas. It is a table like datastructure containing rows and columns similar to excel spreadsheet

In [2]:

import pandas as pd
weather_data ={
    'day': ['1/1/2017','1/2/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature':[32,35,28,24,31],
    'windspeed':[6,7,2,7,2],
    'event':['rain','sunny','snow','snow','rain']
}
df=pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   rain
1  1/2/2017           35          7  sunny
2  1/4/2017           28          2   snow
3  1/5/2017           24          7   snow
4  1/6/2017           31          2   rain

In [7]:
df.shape

(5, 4)

In [8]:
rows,colums=df.shape

In [9]:
rows

5

In [11]:
colums

4

## Rows

In [12]:
df.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   rain
1  1/2/2017           35          7  sunny
2  1/4/2017           28          2   snow
3  1/5/2017           24          7   snow
4  1/6/2017           31          2   rain

In [13]:
df.head(2)

        day  temperature  windspeed  event
0  1/1/2017           32          6   rain
1  1/2/2017           35          7  sunny

In [14]:
df.tail(2)

        day  temperature  windspeed event
3  1/5/2017           24          7  snow
4  1/6/2017           31          2  rain

In [15]:
df.tail()

        day  temperature  windspeed  event
0  1/1/2017           32          6   rain
1  1/2/2017           35          7  sunny
2  1/4/2017           28          2   snow
3  1/5/2017           24          7   snow
4  1/6/2017           31          2   rain

In [17]:
df[2:4]

        day  temperature  windspeed event
2  1/4/2017           28          2  snow
3  1/5/2017           24          7  snow

## Columns

In [22]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [18]:
df.columns

Index(['temperature', 'windspeed'], dtype='object')

In [19]:
df.tail()

       temperature  windspeed
event
rain            32          6
sunny           35          7
snow            28          2
snow            24          7
rain            31          2

In [3]:
import pandas as pd
weather_data ={
    'day': ['1/1/2017','1/2/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature':[32,35,28,24,31],
    'windspeed':[6,7,2,7,2],
    'event':['rain','sunny','snow','snow','rain']
}
df=pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   rain
1  1/2/2017           35          7  sunny
2  1/4/2017           28          2   snow
3  1/5/2017           24          7   snow
4  1/6/2017           31          2   rain

In [4]:
df.tail()

        day  temperature  windspeed  event
0  1/1/2017           32          6   rain
1  1/2/2017           35          7  sunny
2  1/4/2017           28          2   snow
3  1/5/2017           24          7   snow
4  1/6/2017           31          2   rain

In [8]:
df['event']

0     rain
1    sunny
2     snow
3     snow
4     rain
Name: event, dtype: object

In [5]:
df.event

0     rain
1    sunny
2     snow
3     snow
4     rain
Name: event, dtype: object

In [4]:
import pandas as pd
weather_data ={
    'day': ['1/1/2017','1/2/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature':[32,35,28,24,31],
    'windspeed':[6,7,2,7,2],
    'event':['rain','sunny','snow','snow','rain']
}
df=pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   rain
1  1/2/2017           35          7  sunny
2  1/4/2017           28          2   snow
3  1/5/2017           24          7   snow
4  1/6/2017           31          2   rain

In [6]:
type(df['event'])

pandas.core.series.Series

In [7]:
df.day

0    1/1/2017
1    1/2/2017
2    1/4/2017
3    1/5/2017
4    1/6/2017
Name: day, dtype: object

In [9]:
type(df['event'])

pandas.core.series.Series

In [10]:
df[['event','day','temperature']]

   event       day  temperature
0   rain  1/1/2017           32
1  sunny  1/2/2017           35
2   snow  1/4/2017           28
3   snow  1/5/2017           24
4   rain  1/6/2017           31

# operation

In [11]:
df.temperature

0    32
1    35
2    28
3    24
4    31
Name: temperature, dtype: int64

In [12]:
df.temperature.max()

35

In [14]:
df.describe()

       temperature  windspeed
count       5.0000   5.000000
mean       30.0000   4.800000
std         4.1833   2.588436
min        24.0000   2.000000
25%        28.0000   2.000000
50%        31.0000   6.000000
75%        32.0000   7.000000
max        35.0000   7.000000

In [15]:
df[df.temperature>=32]

        day  temperature  windspeed  event
0  1/1/2017           32          6   rain
1  1/2/2017           35          7  sunny

In [17]:
df[df.temperature==df['temperature'].max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  sunny

In [3]:
import pandas as pd
weather_data ={
    'day': ['1/1/2017','1/2/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature':[32,35,28,24,31],
    'windspeed':[6,7,2,7,2],
    'event':['rain','sunny','snow','snow','rain']
}
df=pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   rain
1  1/2/2017           35          7  sunny
2  1/4/2017           28          2   snow
3  1/5/2017           24          7   snow
4  1/6/2017           31          2   rain

In [4]:
df[df['temperature']>32]

        day  temperature  windspeed  event
1  1/2/2017           35          7  sunny

In [5]:
df['day'][df['temperature'] == df['temperature'].max()] # Kinda doing SQL in pandas

1    1/2/2017
Name: day, dtype: object

In [6]:
df[df['temperature'] == df['temperature'].max()] # Kinda doing SQL in pandas

        day  temperature  windspeed  event
1  1/2/2017           35          7  sunny

In [7]:
df['temperature'].std()

4.183300132670378

In [8]:
df['event'].max() # But mean() won't work since data type is string

'sunny'

## set index

columns in dataframe are series type

In [9]:
df.set_index('day')

          temperature  windspeed  event
day
1/1/2017           32          6   rain
1/2/2017           35          7  sunny
1/4/2017           28          2   snow
1/5/2017           24          7   snow
1/6/2017           31          2   rain

In [13]:
df.loc['1/2/2017']

temperature       35
windspeed          7
event          sunny
Name: 1/2/2017, dtype: object

In [14]:
df.set_index('event',inplace=True) # this is kind of building a hash map using event as a key
df

       temperature  windspeed
event
rain            32          6
sunny           35          7
snow            28          2
snow            24          7
rain            31          2

## different ways of creating dataframe

# Using dictionary

In [3]:
import pandas as pd
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017'],
    'temperature': [32,35,28],
    'windspeed': [6,7,2],
    'event': ['Rain', 'Sunny', 'Snow']
}
df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

# Using tuples list

In [5]:
weather_data = [
    ('1/1/2017',32,6,'Rain'),
    ('1/2/2017',35,7,'Sunny'),
    ('1/3/2017',28,2,'Snow')
]
df = pd.DataFrame(data=weather_data, columns=['day','temperature','windspeed','event'])
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

# Using list of dictionaries

In [6]:
weather_data = [
    {'day': '1/1/2017', 'temperature': 32, 'windspeed': 6, 'event': 'Rain'},
    {'day': '1/2/2017', 'temperature': 35, 'windspeed': 7, 'event': 'Sunny'},
    {'day': '1/3/2017', 'temperature': 28, 'windspeed': 2, 'event': 'Snow'},
    
]
df = pd.DataFrame(data=weather_data, columns=['day','temperature','windspeed','event'])
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [6]:
import pandas as pd
df = pd.read_excel("excel.xlsx","sheet1")
df

FileNotFoundError: [Errno 2] No such file or directory: 'excel.xlsx'